.container {
  overflow: auto;
  display: flex;
  scroll-snap-type: x mandatory;
  width: auto;
  margin: 0 auto;
  padding: 0 15px;
  height: 500px;
  margin: 20px 0px;
}

.card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(253, 196, 53, 0.7);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  /* padding: 2rem; */
  margin: 1rem;
  width: 100%;
}
.card img{
    height: 100%;
    width: 300px;
    border-radius: 10px;
}

.title {
  width: 100%;
  display: inline-block;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: 1rem auto;
}
